NLeaderElection.Client/bin/Release/**,
NLeaderElection.Client/bin/debug/**,
NLeaderElection.Client/obj/**,
NLeaderElection.Client/bin/**,
NLeaderElection/bin/Release/**,
NLeaderElection/bin/debug/**,
NLeaderElection/bin/**,
NLeaderElection/obj,
NLeaderElection.Tests/obj/**,